#todoItemContainer {
  margin-top: 2px;

  margin-bottom: 2px;
}

#todoCheckBox {
}

#todoItemTitle {
  width: 80%;
  margin: auto;
}
#todoItemAdded {
  margin: auto;
  margin-right: 10px;
}

#xButton {
  height: 50%;
  width: 60px;
  cursor: pointer;
}
