.App {
  /*min-width: 320px;*/
}

.container {
  padding: 0 1rem;
}
#mainPage {
  display: inline-block;
  width: 100%;
}

#sidePanelOpen {
  position: absolute;
  height: 22px;
  width: 80px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
}
#sidePanelOpen:focus {
  border: solid 1px white;
  outline: none;
}

.tableItem {
  border-left: 2px solid white;
}

#headerRow {
  background: rgba(0, 0, 0, 0.4);
  height: 2rem;
}
.tableRow {
  width: 100%;
}

#todoTable {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
}
#doneCol {
  width: -webkit-fill-available;
  border: none;
  min-width: 44px;
  width: 5%;
}
#todoCol {
  width: 60%;
  text-align: left;
  padding-left: 10px;
  min-width: 100px;
}
#addedCol {
  width: 100px;
  min-width: 100px;
}
#completedCol {
  width: 100px;
  min-width: 100px;
}
#actionCol {
  width: 10%;
  min-width: 70px;
}
